.lp__1 section {
    margin-left: -4vw;
    width: 200%;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

#loading__page {
    margin-top: 30vh;
    min-height: 100vh;
}

.footer__title__pc {
    display: block;
    text-align: center;
    z-index: 2;
    position: sticky
}

.footer__title__sp {
    display: none;
    z-index: 1000;
    position: sticky;
}

.descrizione__loading {
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    z-index: 99;
}

.divcenter {
    cursor: pointer;
    width: 60px;
    height: 60px;
    background-color: #FF0000;
    border: 5px solid #1E1E1E;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dl__social__icons {
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container__footer__centro {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container__footer__centro__due {
    margin: 0 0 0 300px;
    display: block;
}

.divOcti {
    display: grid;
    width: 100%;
    height: 40px;
    align-items: center;
    grid-template-columns: 1fr 200px 4fr;
}

.dO_interno {
    width: 100%;
    background-color: #1E1E1E;
    /*  background-color: #08466E; */
    height: 2px;
    flex-shrink: 0;
    transition-duration: .2s;
}

.divOcti h5 {
    color: #1E1E1E !important;
    font-family: "Montserrat" !important;
}

.divlat {
    cursor: pointer;
    width: 60px;
    height: 60px;
    background-color: #1E1E1E;
    border: 5px solid #FF0000;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
}

.desc__left {
    width: 410px;
    z-index: 1;
}

.desc__left div:last-of-type {
    margin: -100px 0 0 100px;
}

.circle__desc__left {
    height: 200px;
    width: 200px;
    border-radius: 400px;
    background-color: #1e1e1e00;
    border: 1px solid #1E1E1E;
    z-index: 1;
    position: relative
}

.social__container {
    margin: 40px 0 0 0;
    display: flex;
}

.iscriviti {
    background-color: #FF0000;
    border: none;
    border-bottom: 4px solid #1E1E1E;
    min-width: 250px;
    color: rgba(30, 30, 30, 0.67);
    font-size: 15px;
    font-style: normal;
    font-weight: 800;
    box-shadow: none;
    margin-right: 20px;
}

.button__black {
    height: 120px;
    width: 120px;
    border-radius: 120px;
    background-color: #1E1E1E;
    border: none;
}

.sostienici__pc {
    margin: -100px 0 0 70px;
    display: flex;
    align-items: center;
}

.div__fund {
    cursor: pointer;
    width: 90px;
    height: 90px;
    background-color: #1E1E1E;
    border: 5px solid #1E1E1E;
    border-radius: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.container__footer__centro__due__title {
    display: flex;
}

.container__footer__centro__due__title svg {
    margin-top: 8px;
}

.container__footer__centro__due__title h2 {
    margin: 0 40px 0 20px;
}

.sostienici__phone__interno h4 {
    margin: 10px 0 10px 0;
}

.sp__no {
    display: block;
}

.sp__si {
    display: none;
}

@media only screen and (max-width: 1500px) {
    .container__footer__centro__due {
        margin: 0 0 0 150px;
    }
}

@media only screen and (max-width: 1050px) {
    .container__footer__centro__due {
        margin: 0 0 0 30px;
    }
}

@media only screen and (max-width: 970px) {
    .circle__desc__left {
        display: none;
    }
    .desc__left .h1__little {
        font-size: 1.2rem !important;
        line-height: 1.4rem !important;
    }
    .divcenter {
        width: 60px;
        height: 60px;
        border-radius: 50px;
        border: 2px solid #ff0000;
    }
    .divlat {
        width: 50px;
        height: 50px;
        border-radius: 50px;
        border: 2px solid #ff0000;
    }
    .div__fund {
        cursor: pointer;
        width: 50px;
        height: 50px;
        background-color: #1E1E1E;
        border: 5px solid #1E1E1E;
        border-radius: 50px;
        margin: 50px 50px 10px -20px
    }
    .sp__no {
        display: none;
    }
    .sp__si {
        display: block;
    }
    .descrizione__loading {
        margin-bottom: 8px;
    }
    #loading__page {
        margin-top: 40vh;
    }
    .footer__title__pc {
        display: none;
        text-align: center;
        z-index: 2;
        position: sticky
    }
    .footer__title__sp {
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .button__black {
        height: 80px;
        width: 80px;
        border-radius: 80px;
    }
    .container__footer__centro {
        display: block;
    }
    #loading__page p {
        font-size: 1.5rem;
    }
    #loading__page h1 {
        font-size: 2rem;
    }
    .desc__left div:last-of-type {
        margin: 0px 0 0 50px;
    }
    .desc__left {
        margin-top: 30px;
        margin-left: -50px;
        width: 360px;
    }
    .iscriviti {
        min-width: 0;
    }
    .social__container {
        margin: 20px 0 20px 40px;
    }
    .container__footer__centro__due__title h2 {
        margin: 0 20px 0 10px;
    }
    .container__footer__centro__due__svg2 {
        margin-top: -20px;
    }
}