<div id="navbar">
    <div class="menu">
        <ul>
            <li>
                <a style="cursor: pointer;">
                    <svg width="150" height="50" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="20" cy="25" r="5" fill="#ffffff" />
                        <circle cx="50" cy="25" r="5" fill="#ff0000" />
                        <circle cx="80" cy="25" r="5" fill="#ffffff" />
                      </svg>
                </a>
            </li>
        </ul>
    </div>
    <div class="nav__contatti" style="text-align: right;">
        <h3>moon</h3>
        <h3 style="color: rgb(255, 0, 0);">sun</h3>
    </div>
</div>