@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap");

/* bg-gradient: linear-gradient(
  180deg,
  rgba(0, 0, 0, 0.6) 0%,
  rgba(0, 0, 0, 0.3) 100%
); */

* {
    box-sizing: border-box;
    user-select: none;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

section {
    height: 100%;
    width: 100%;
    top: 0;
    position: fixed;
    visibility: hidden;
    will-change: transform;
    .outer,
    .inner {
        width: 100%;
        height: 100%;
        overflow-y: hidden;
        will-change: transform;
    }
    .bg {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        background-size: cover;
        background-position: center;
    }
}

.first .bg {
    background: linear-gradient(to top, #1e1e1eb9 1%, #1e1e1eb9 99%), url("../../../assets/image__home/img__iniziale.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-size: cover;
}

.section__begin__title {
    text-align: center;
}

.second .bg {
    background-image: linear-gradient( 180deg, rgba(0, 0, 0, 0.788) 0%, rgba(0, 0, 0, 0.712) 100%), url("../../../assets/image__home/53f1c781-b360-4f69-b439-aa984afd8d08_8ooaa7y.jpg");
}

.third .bg {
    background-image: url("../../../assets/image__home/tavola1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-size: cover;
}

.section__one {
    background-image: linear-gradient( 180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.3) 100%), url("../../../assets/image__home/53f1c781-b360-4f69-b439-aa984afd8d08_8ooaa7y.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-size: cover;
    display: grid;
}

.section__one__inside__one {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    grid-area: section__one__inside__one;
    margin-right: 10vw;
}

.section__one__inside__due {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: section__one__inside__due;
}

.section__one__inside__one div {
    width: 410px;
}

.button__circle__big {
    background-color: #ff0000;
    margin: 10px;
    border: 1px solid #ff0000;
    width: 150px;
    height: 150px;
    border-radius: 150px;
}

.button__circle {
    background-color: #ff0000;
    border: 3px solid #1e1e1e;
    width: 140px;
    height: 140px;
    border-radius: 150px;
}

.button__circle:hover {
    border: 5px solid #1e1e1e;
}

#navbar__sotto {
    position: fixed;
    justify-content: space-between;
    z-index: 50;
    bottom: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    overflow-x: hidden !important;
    display: grid;
    grid-template-columns: 1fr 300px 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: ". . .";
    margin: 0 0 40px 0;
}

.navbar__sotto__sec__due {
    text-align: center;
}

.navbar__sotto__line {
    background-color: #ffffff;
    height: 3px;
    width: 100%;
    margin-top: 10px;
}