<section class="first">
    <div class="outer">
        <div class="inner">
            <div class="bg one">
                <div class="section__begin__title">
                    <h3 style="color: red;">Talk stories memorables </h3>
                    <h1 class="h1__large">MEMOORABLES</h1>
                </div>
            </div>
        </div>
    </div>

</section>
<section class="second">
    <div class="outer">
        <div class="inner">
            <div class="bg section__one">
                <div class="section__one__inside__one">
                    <div>
                        <h1 class="h1__medium">
                            All stories are memoorabes
                        </h1>
                        <h1 style="margin-top: 20px;">
                            Le storie non sono proprietà di chi le racconta. Siamo tutti voi, tutti loro, tutti e nessuno.
                        </h1>
                    </div>
                </div>
                <div class="section__one__inside__due">
                    <button class="button__circle__big">
                        <button class="button__circle">
                            <h2>Leggi</h2> 
                            <h2>storia</h2>
                        </button>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="third">
    <div class="outer">
        <div class="inner">
            <div class="bg">
                <app-footer style="width: 100%;"></app-footer>
            </div>
        </div>
    </div>
</section>
<div id="navbar__sotto">
    <div class="navbar__sotto__line">

    </div>
    <div class="navbar__sotto__sec__due">
        <h2 id="change__title" style="color:#ff0000">READ SOME STORIES</h2>
    </div>
    <div class="navbar__sotto__line">

    </div>
</div>