<div id="loading__page">
    <div class="lp__1" style="position:absolute; margin-top: -2vw; z-index:0">
        <section><span>Cosa vuol dire vendere il proprio corpo per sopravvivere? Che cosa significa essere schiacciati da un dogma religioso senza avere la possibilità di scegliere a cosa credere? Che ruolo ha la droga per un ex tossico dipendente? Un soldato russo, oggi, soffre dello stigma che esiste solo a causa del suo lavoro? Come si convive con un disturbo di personalità multipla?</span></section>
    </div>
    <div class="descrizione__loading">
        <p>All stories are</p>
        <h1>MEMOORABLES</h1>
        <div style="margin-bottom: 90px;">
            <a style="text-decoration: none; color:#1E1E1E; cursor:pointer" href="mailto:project@memoorables.com">project&#64;memoorables.com </a>
            <a style="text-decoration: none; color:#1E1E1E; cursor:pointer" href="https://www.instagram.com/memoorables/" target="_blank">&#64;memoorables</a>
        </div>
        <p style="margin: 0;">Stiamo scrivendo la</p>
        <p style="margin: 0;"> nostra storia...</p>
        <div class="divOcti">
            <div class="dO_interno">

            </div>
            <h4 style="cursor: pointer;" (click)="octimal()">In creazione da OCTIMAL</h4>
            <div></div>
        </div>
    </div>
</div>
<main class="scroller" style="display: none;">
    <section class="section__begin">
        <div>
            <p>Talk stories memorables </p>
            <h1>MEMOORABLES</h1>
        </div>
    </section>
    <section>
        <h2>Section two</h2>
    </section>
    <section>
        <h2>Section three</h2>
    </section>
</main>