@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap");

/* bg-gradient: linear-gradient(
  180deg,
  rgba(0, 0, 0, 0.6) 0%,
  rgba(0, 0, 0, 0.3) 100%
); */

* {
    box-sizing: border-box;
    user-select: none;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

section {
    height: 100%;
    width: 100%;
    top: 0;
    position: fixed;
    visibility: hidden;
    will-change: transform;
    .outer,
    .inner {
        width: 100%;
        height: 100%;
        overflow-y: hidden;
        will-change: transform;
        overflow-x: hidden !important;
    }
    .bg {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        background-size: cover;
        background-position: center;
    }
}

.first .bg {
    background: linear-gradient(to top, #1e1e1eb9 1%, #1e1e1eb9 99%), url("../../../assets/image__home/img__iniziale.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.section__begin__title {
    text-align: center;
    z-index: 1;
    position: fixed;
}

.section__begin__title h3,
h1 {
    z-index: 1;
    position: sticky;
}

.section__begin__title h2 {
    z-index: 0;
    position: sticky;
    margin-top: -200px;
    color: #ffffff00;
    -webkit-text-stroke: 2px #ff00002a;
    font-size: 14rem;
    width: 1800px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition-duration: .2s;
    animation: bganimation4 2s ease-in-out;
}

@keyframes bganimation4 {
    0% {
        -webkit-text-stroke: 2px #ff000000;
    }
    90% {
        -webkit-text-stroke: 2px #ff00002a;
    }
}

.second .bg {
    background-image: linear-gradient( 180deg, rgba(0, 0, 0, 0.788) 0%, rgba(0, 0, 0, 0.712) 100%), url("../../../assets/image__home/53f1c781-b360-4f69-b439-aa984afd8d08_8ooaa7y.jpg");
    animation: bganimation 2s ease-in-out;
}

@keyframes bganimation {
    0% {
        background-size: 130%;
    }
    90% {
        background-size: 100%;
    }
}

.third .bg {
    background-image: url("../../../assets/image__home/tavola1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.section__one {
    background-image: linear-gradient( 180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.3) 100%), url("../../../assets/image__home/53f1c781-b360-4f69-b439-aa984afd8d08_8ooaa7y.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.section__one__inside {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section__one__inside__one {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    grid-area: section__one__inside__one;
    margin-right: 10vw;
}

.section__one__inside__due {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: section__one__inside__due;
}

.section__one__inside__one div {
    width: 410px;
}

.section__one__inside__one div h1:first-of-type {
    animation: h1__anim__one 1s ease-in-out;
}

.section__one__inside__one div h1:last-of-type {
    animation: h1__anim__two 2s ease-in-out;
}

@keyframes h1__anim__one {
    0% {
        opacity: 0;
        transform: translate(0, -20px);
    }
    90% {
        opacity: 1;
        transform: translate(0, 0px);
    }
}

@keyframes h1__anim__two {
    0% {
        opacity: 0;
        transform: translate(0, 20px);
    }
    90% {
        opacity: 1;
        transform: translate(0, 0px);
    }
}

.button__circle__big {
    background-color: #ff0000;
    margin: 10px;
    border: 1px solid #ff0000;
    width: 150px;
    height: 150px;
    border-radius: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: typing 2s ease-in
}

@keyframes typing {
    0% {
        opacity: 0;
    }
    90% {
        opacity: 1;
    }
}

.button__circle {
    background-color: #ff0000;
    border: 3px solid #1e1e1e;
    width: 140px;
    height: 140px;
    border-radius: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: .2s;
}

.button__circle:hover {
    border: 5px solid #1e1e1e;
}

#navbar__sotto {
    position: fixed;
    justify-content: space-between;
    z-index: 50;
    bottom: 0;
    height: 100px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    overflow-x: hidden !important;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 40px 0;
}

#scroll-down {
    animation: scrollDownAnimation 3s infinite;
}

@keyframes scrollDownAnimation {
    0% {
        transform: translate(0, 0);
        fill: white
    }
    35% {
        transform: translate(0, 20px);
        fill: red;
    }
    100% {
        fill: white
    }
}

.navbar__sotto__sec__due {
    text-align: center;
}

.navbar__sotto__line {
    background-color: #ffffff;
    height: 3px;
    width: 100%;
    margin-top: 10px;
}

@media only screen and (max-width: 970px) {
    .section__begin__title h2 {
        display: none;
    }
}

@media only screen and (max-width: 800px) {
    .section__one__inside__one div {
        width: 290px
    }
}

@media only screen and (max-width: 600px) {
    .section__one__inside__one div {
        margin: 4vh;
        width: fit-content;
        max-width: 300px;
    }
    .section__one__inside {
        display: block !important;
    }
    .section__one__inside__due {
        display: flex;
        justify-content: right;
        align-items: center;
    }
}