.container__interno {
    display: flex;
    align-items: center;
    padding: 100px 2vw 200px 2vw;
    justify-content: center;
}

.container__generale {
    padding: 80px 0 0 0;
}

.container__interno__flex {
    max-width: 1200px;
}

.container__interno__sezione__due {
    overflow-x: hidden !important;
}

.container__interno__sezione__due h1 {
    margin-top: 100px;
}

.img__uno {
    width: 600px;
    height: 800px;
    background-image: url("../../../assets/image__home/img__iniziale.jpg");
    position: absolute;
    z-index: 1;
    margin: 200px 0 0 -150px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-size: cover;
    opacity: .1;
}

.img__due {
    background-image: url("../../../assets/image__home/53f1c781-b360-4f69-b439-aa984afd8d08_8ooaa7y.jpg");
    width: 600px;
    height: 800px;
    position: absolute;
    z-index: 1;
    margin: 700px 0 0 800px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-size: cover;
    opacity: .1;
}

.testo {
    position: sticky;
    z-index: 2;
}

.third {
    position: sticky;
    z-index: 200;
    background-image: url("../../../assets/image__home/tavola1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-size: cover;
}

.cd__interno__secondario__inside {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: left;
    /*     margin: 100px 0 100px 0; */
    z-index: 100;
}

.cd__interno__secondario__inside div:first-of-type {
    margin: 0 40px 0 0;
}

.cd__interno__secondario__inside h1 {
    cursor: pointer;
}

.tag__a__strong__uno {
    display: inline-block;
    transform: rotate(-4deg);
    color: red;
    font-family: "TradeWinds-Regular" !important;
}

.tag__a__strong__due {
    display: inline-block;
    transform: rotate(2deg);
    color: red;
    font-family: "TradeWinds-Regular" !important;
}

.tag__a__strong__tre {
    color: rgba(255, 0, 0, 0.493) !important;
}

@media only screen and (max-width:1000px) {
    .img__due {
        margin: 700px 0 0 200px;
    }
}

@media only screen and (max-width:600px) {
    .img__due {
        display: none;
    }
    .img__uno {
        margin: 200px 0 0 -250px;
    }
    .cd__interno__secondario__inside {
        margin-left: -50px;
    }
}