@font-face {
    font-family: "Montserrat";
    src: local("Montserrat"), url(./assets/fonts/Montserrat/static/Montserrat-ExtraBoldItalic.ttf) format("truetype");
}

@font-face {
    font-family: "TradeWinds-Regular";
    src: local("TradeWinds-Regular"), url(./assets/fonts/Trade_Winds/TradeWinds-Regular.ttf) format("truetype");
}

body,
html {
    margin: 0;
    background-color: #1E1E1E;
}

* {
    color: #ffffff;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

p {
    font-size: 1.3rem;
}

h1 {
    font-weight: 800;
    margin: 0;
}

h1,
h2,
h3,
h4 {
    margin: 0;
}

h4 {
    font-family: "Montserrat";
}

.title__font {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}

.h1__large {
    font-size: 4rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.h1__medium {
    font-size: 3rem;
    line-height: 3rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.h1__little {
    font-size: 2.2rem;
    line-height: 2.2rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media only screen and (max-width: 970px) {
    .h1__large {
        font-size: 3.2rem;
    }
    .h1__medium {
        font-size: 2.6rem;
        line-height: 3rem;
    }
    .h1__little {
        font-size: 1.8rem;
        line-height: 2rem;
    }
    p {
        font-size: 1rem !important;
    }
    h2 {
        font-size: 1.2rem !important;
    }
}

button {
    cursor: pointer;
}