<div class="container__generale">
    <div class="container__interno">
        <div class="container__interno__flex">
            <div class="container__interno__sezione__uno">
                <h1 class="h1__large">All stories are memoorabes</h1>
            </div>
            <div class="container__interno__sezione__due">
                <div class="img__uno"></div>
                <div class="img__due"></div>
                <div class="testo">
                    <h1 class="h1__medium"><strong>Cosa facciamo</strong></h1>
                    <p>Memoorables è un progetto fatto di <strong>storie</strong>.&nbsp;<br> Storie di cui non si parla per <span class="tag__a__strong__uno">pigrizia o paura</span>, per disinteresse imposto o abitudine ad abnegare argomenti che sembrano
                        non poterci toccare da vicino.&nbsp;<br><strong>Memoorables è di tutti e per tutti</strong>, per questo racconterà persone e verità che si nascondono sotto ad un <span class="tag__a__strong__tre">(quasi invisibile)</span> strato
                        di <span class="tag__a__strong__due">omertà sociale</span>.</p>
                    <p><br><em>Cosa vuol dire&nbsp;vendere il proprio corpo per <span class="tag__a__strong__uno">sopravvivere?&nbsp;</span>Che cosa significa essere&nbsp;schiacciati da&nbsp;un dogma religioso senza avere la possibilità di scegliere a&nbsp;cosa credere? Che ruolo ha la droga per un <span class="tag__a__strong__due">ex tossico dipendente?</span> Un soldato russo, oggi, soffre dello stigma che esiste solo a causa del suo lavoro? Come si convive con un disturbo di personalità multipla?&nbsp;</em></p>
                    <p><br></p>
                    <p>Memoorables affronterà argomenti attuali, poco esplorati e l'obbiettivo del progetto&nbsp;sarà risvegliare le coscienze, far discutere, <span class="tag__a__strong__uno">accendere il fuoco del dibattito</span> senza alcun limite ad
                        opinioni, pensieri o schieramenti.&nbsp;</p>
                    <p>Memoorables prende linfa vitale dalla condivisione e <strong>non avrà niente a che vedere con l'attivismo giornalistico o la forma del reportage</strong>; Memoorables è arte.&nbsp;Il meccanismo chiave del progetto è quello di vivere
                        la storia che si racconta con neutralità e trasporto. Incontreremo i protagonisti delle storie che racconteremo per far sì che anche lo spettatore si senta al suo fianco. Per qualche istante
                        <span class="tag__a__strong__due">vivremo la sua vita</span>, ci nutriremo delle sue esperienze per raccontarle.&nbsp;Oggi, l’influenza di qualsiasi informazione o informatore ci guida imponendoci di avere un’opinione condivisibile
                        o&nbsp;un’idea che prenda una precisa piega <span class="tag__a__strong__uno">sociale e politica</span>; Memoorables scardinerà questo meccanismo ormai introiettato da tutti. <strong>Il progetto nasce e crescerà mosso dalla volontà e dal piacere di raccontare storie umane, vive&nbsp;narrandole così come sono nel loro  <span class="tag__a__strong__uno">naturale esistere.</span>&nbsp;</strong></p>
                    <p></p>
                    <h1 class="h1__medium"><strong>Come lo facciamo</strong></h1>
                    <p>Il nostro obbiettivo è quello di generare domande e non di dare risposte. Lo faremo tramite tre diversi mezzi: <span class="tag__a__strong__due">la parola, la fotografia e il video.</span>&nbsp;<br> L’arte della parola, la magia della
                        fotografia e il potere dell’audiovisivo saranno lo scheletro grazie al quale le storie che racconteremo prenderanno vita.&nbsp;<br> Memoorables si svilupperà grazie ad un <strong>sito web</strong>, con accesso sia da smartphone
                        che da desktop, collegato alle <strong>piattaforme social </strong>più frequentate (TikTok /Instagram) ma non si fermerà qui.&nbsp;Ogni storia condivisa, ogni fotografia scattata partorirà un <span class="tag__a__strong__uno">concreto progetto</span>                        che tenterà di <span class="tag__a__strong__uno">invadere</span> i muri, le strade, le caffetterie o le scuole del paese in cui viviamo.&nbsp;<strong>Ci spingeremo fino alla propaganda fisica delle storie che desideriamo fare arrivare a tutti </strong>e,
                        solo allora, Memoorables darà lo schiaffo che pretendiamo si scagli su ogni spettatore.&nbsp;</p>
                    <p></p>
                    <h1 class="h1__medium"><strong>A che punto siamo</strong></h1>
                    <p>Lo sviluppo del progetto è a buon punto.&nbsp;<br> L’ideazione del progetto, il nostro team, gli&nbsp;argomenti che vogliamo trattare e&nbsp;il sito web che ci permetterà di <span class="tag__a__strong__due">arrivare ovunque</span>,
                        sono già pronti.&nbsp;<br> Quello che rimane da fare è trovare chi possa aiutarci, sponsor e persone che credono in questo&nbsp;nuovo,&nbsp;giovane e alternativo modo di raccontare le storie di <span class="tag__a__strong__uno">tutti e per tutti.</span>&nbsp;</p>
                    <h1 class="h1__medium"><strong>Chi siamo</strong></h1>
                    <p>Le storie non sono proprietà di chi le racconta. Siamo tutti voi, tutti loro, tutti e nessuno.&nbsp;<br><strong>Memoorables: tutte le storie contano.&nbsp;</strong></p>
                </div>
            </div>

        </div>
    </div>
</div>

<app-footer-sec style="width: 100%;"></app-footer-sec>